<!DOCTYPE html>
<html>
  <head>
    <title>Password Generator</title>
  </head>
  <body>
    <form action='/response'>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname"><br>
      <label for="birthday">Birthday (m/d/y 00/00/0000):</label><br>
      <input type="date" id="birthday" name="birthday"><br>
      <label for="color">Name a color:</label><br>
      <input type="text" name="color"><br>
      <label for="free">Keyword:</label><br>
      <input type="text" id="free" name="free"><br>
      <label for="vol">Password Length (between 8 and 12):</label><br>
      <input type="range" id="vol" name="vol" min="8" max="12" oninput="this.nextElementSibling.value = this.value">
      <output>10</output>
      <br><br>
      <input type="submit">
      <input type="reset">
    </form>

  </body>
</html>
