<!DOCTYPE html>
<html>
  <head>
    <title>Response</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='myscript.js') }}"></script>
  </head>
  <body>
    <h1>Password:</h1>
    <p>{{ response }}</p>
    <button onClick="history.go(0);" id="refresh">New Password</button>
    <form>
      <input type="button" value="Back to Form" onclick="history.back()">
    </form>
  </body>
</html>
